@charset "utf-8";

body {
  margin: 0;
  font-family: sans-serif;
  text-align: justify;
  background-color: black;
}

#content {
  overflow:auto;
  margin-bottom:20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    cursor: pointer;
}

li {
    float: left;
}

li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #4CAF50;
    color: black;
}

ul.topnav li.right {
  float: right;
}

h1 {
  font-size: 500%;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  text-align:center;
  background-color: #333;
}

div.contenido {
  background-color: #333;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
}

section.XB {
  color: white;
  position: relative;
}

article {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

h2 {
  font-size: 300%;
  text-align: left;
}

img.PS1 {
  float: right;
  max-width: 100%;
}

img.PS2 {
  float: right;
  width: 20%;
  height: 20%;
}

img.PS3 {
  float: right;
  width: 20%;
  height: 20%;
}

img {
  float: right;
  width: 20%;
  height: 20%;
}

p {
  font-size: 150%;
}

@media screen and (max-width: 600px){
    h1 {
      font-size: 300%;
    }
    h2 {
      font-size: 170%;
    }
    p {
      font-size: 100%;
    }
    nav {
      margin: auto;
    }
    ul.topnav li.right,
    ul.topnav li.dropdown,
    ul.topnav li {
      float: none;
    }
    nav ul{
      width: 90%;
      margin: auto;
      float: none;
      align: center;
    }
    div.contenido {
      margin: 0;
    }
}
